/* inspiration from https://ludmillamaury.com/ */

nav {
	position: fixed;
	top: 10vmin;
	right: 20vmin;
	width: 15em;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: start;
	z-index: 100;
}

nav a {
	position: relative;
	font-size: 1.5rem;
	color: #fff59a;
	text-decoration: none;
	padding: 0 1rem 0.15rem 1rem;
	transition: color 0.3s ease;
}
nav a:hover {
	color: white;
}
nav a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1.5px;
	bottom: 0;
	left: 0;
	background: white;
	transform: scaleX(0);
	transform-origin: top right;
	transition: transform 0.2s ease;
}
/* Animate the underline from the left */
nav a:hover::before {
	transform: scaleX(1);
	transform-origin: top left;
}

.header-circle {
	width: 60vmin;
	height: 60vmin;
	margin-top: -30vmin;
	margin-left: 10%;
}
.outer-circle-large {
	width: 100%;
	height: 100%;
	border: 0.15vmin solid lemonchiffon;
	border-radius: 50%;
	position: relative;
}
.outer-circle-large-inner {
	width: 50%;
	height: 50%;
	border: 0.15vmin solid lemonchiffon;
	border-radius: 50%;
	position: absolute;
	top: 5%;
	left: 40%;
}
.outer-circle-large-inner-inner {
	width: 10%;
	height: 10%;
	border: 0.15vmin solid lemonchiffon;
	border-radius: 50%;
	position: absolute;
	top: 5%;
	left: 40%;
}

.circle {
	height: 20vmin;
	width: 20vmin;
	margin-top: 15vh;
	margin-left: 60%;
}
.outer-circle-medium {
	width: 100%;
	height: 100%;
	border: 0.15vmin solid lemonchiffon;
	border-radius: 50%;
	position: relative;
}
.inner-circle-medium {
	width: 40%;
	height: 40%;
	border: 0.15vmin solid lemonchiffon;
	border-radius: 50%;
	position: absolute;
	top: 55%;
	left: 20%;
	transform: translate(-38%, -103.5%);
}

.triangle-one {
	margin-left: 20%;
}
.triangle-two {
	position: absolute;
	top: 25%;
	left: 80%;
	opacity: 0.5;
}

.title {
	width: 50vw;
	height: 15vw;
	padding-bottom: 1rem;
	margin: 15vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	perspective: 900px;
}
.title-background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		30deg,
		rgba(0 205 205 / 0.5),
		rgba(255 250 205 / 0.7),
		rgba(0 280 205 / 0.5)
	);
	background-size: cover;
	background-position: center center;
	border: 0.25vmin solid rgba(0 280 205 / 0.3);
	border-radius: 1rem;
	transform-style: preserve-3d;
}
h1.head,
h1.end,
h6.end {
	font-family: "Playfair Display", serif;
	font-weight: 400;
	text-align: center;
	letter-spacing: 1vmin;
	color: #fff;
}
h1.head {
	font-size: 15vmin;
	line-height: 1;
	margin: 5vmin 0;
	mix-blend-mode: difference;
}
h1.end,
h6.end {
	color: rgba(255 250 205 / 0.7);
}
h1.end {
	font-size: 5vmin;
}
h1.end .char,
h6.end .char {
	transition: transform 1s cubic-bezier(0.3, 0, 0.3, 1), opacity 1s linear;
	transition-delay: calc(60ms * var(--char-index));
}
h1.end[data-scroll="out"] .char {
	opacity: 0;
	transform: translateX(5em) scale(0.15);
}
h6.end[data-scroll="out"] .char {
	opacity: 0;
	transform: translateY(3em) scale(0.15);
}
.bottom {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-content: end;
	margin-bottom: 4rem;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #333;
	background-image: linear-gradient(to right, transparent 19px, #444 1px),
		linear-gradient(to bottom, transparent 19px, #444 1px);
	background-size: 20px 20px;
	background-attachment: fixed;
	overflow-x: hidden;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Produtos*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300italic);

body {
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
}

h1.page-title {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #485a64;
  font-weight: bold;
}

.product-container {
  background-color: #fff;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.tag-sale {
  background-color: #4fdaa4;
  width: 86px;
  height: 98px;
  position: absolute;
  color: #fff;
  right: -41px;
  z-index: 9;
  top: -44px;
  transform: rotate(137deg);
}

.tag-sale::before {
  content: "SALE";
  color: #fff;
  font-weight: bold;
  display: block;
  transform-origin: top center;
  transform: rotate(222.5deg) translateX(-28px) translateY(-37px);
}

.product-description {
  background-color: #F7F7F7;
  border-top: 1px solid #EFEFEF;
  padding: 10px 20px;
  color: #797979;
}

.product-image {
  padding: 20px;
  height: 323px;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.product-link {
  position: absolute;
  background: #fff;
  width: 100px;
  height: 100px;
  color: #4FDAA4;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  padding: 22px 0;
  line-height: 25px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  opacity: 0;
  transition: 1s;
  font-style: italic;
}

.product-link:hover {
  text-decoration: none;
  color: #4FDAA4;
}


.hover-link {
  background-color: #4FDAA4;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.product-image img {
  width: 100%;
}

.product-description h1 {
  font-size: 23px;
  margin-bottom: 5px;
  margin-top: 0;
  display: inline-block;
  width: 78%;
}

.product-description p {
  color: #C4C4C4;
}

.product-description .price {
  display: inline-block;
  width: 20%;
  font-size: 23px;
  text-align: right;
  font-weight: bold;
  color: #2DD493;
  margin-bottom: 5px;
}

.product-option {
  border-top: 1px solid #D2D2D2;
}

.product-option h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.product-option .product-color ul {
  list-style-type: none;
  padding: 0;
}

.product-option .product-color li {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.product-color li.red {
  background-color: #F75375;
}
.product-color li.blue {
  background-color: #53A0F7;
}
.product-color li.green {
  background-color: #59CFAF;
}
.product-color li.gray {
  background-color: #C7C7C7;
}
.product-color li.black {
  background-color: #4E5156;
}
.product-color li.dark-blue {
  background-color: #2060AF;
}

.product-container:hover {
  box-shadow: 0px 10px 25px -2px rgba(0,0,0,0.36);
}

.product-container:hover .product-image {
  height: 180px;
  transition: 1s;
}
.product-container:hover .product-option {
  display: block;
}
.product-container:hover .hover-link {
  opacity: 0.5;
}
.product-container:hover .product-link {
  opacity: 1;
}

.product-link:hover {
  -webkit-animation: hovering 1000ms linear both;
  animation: hovering 1000ms linear both;
}

@-webkit-keyframes hovering {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.3% { -webkit-transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.6% { -webkit-transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.01% { -webkit-transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.72% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.52% { -webkit-transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.12% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.83% { -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.43% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.04% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.15% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.26% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.37% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes hovering {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.3% { -webkit-transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.6% { -webkit-transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.01% { -webkit-transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.72% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.52% { -webkit-transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.12% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.83% { -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.43% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.04% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.15% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.26% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.37% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

